@import '../../../common/styles/index.scss';

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  @media (min-width: $sm) {
    gap: 2rem;
    flex-direction: row;
    align-items: flex-start;
  }

  &__image,
  &__image-skeleton {
    width: 100%;
    aspect-ratio: 1 / 1;

    @media (min-width: $sm) {
      max-width: 400px;
    }
  }

  &__text-skeleton {
    height: 2rem;
    margin-bottom: 1rem;
  }

  &__info {
    width: 100%;
    max-width: 400px;

    @media (min-width: $sm) {
      margin-top: 8rem;
    }
  }

  & .pokemon-name {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

.pokemon-attribute {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  font-size: 2rem;

  &__value {
    text-align: right;
    word-break: break-all;
  }
}
