// BREAKPOINTS
// Same values are defined in src/common/constants/index.ts
$sm: 600px;
$md: 900px;
$lg: 1200px;

// COLORS
$off-black-light: #28292c;
$off-black-main: #202123;
$off-white: #dbdbdb;
$grey-light: #8b8b8b;
$grey-main: #474747;
$primary-light: #3f414e;
$primary-main: #353541;
$accent-light: #1976d3;
$accent-main: #176ec4;
