@import '../../../common/styles/index.scss';

.pokemon-list {
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style-type: none;
  margin-bottom: 2rem;
}

.pokemon-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid white;
  flex-basis: calc(100% - var(--gap));
  aspect-ratio: 1 / 1;
  transition: border 0.25s ease-in-out;
  cursor: pointer;

  @media (min-width: $sm) {
    flex-basis: calc(33% - var(--gap));
  }

  @media (min-width: $md) {
    flex-basis: calc(25% - var(--gap));
  }

  @media (min-width: $lg) {
    flex-basis: calc(20% - var(--gap));
  }

  &:hover {
    border: 1px solid $accent-main;
  }

  &__image {
    width: 70%;
  }

  &__name {
    font-size: 2rem;
  }
}
